.Card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addItem{
  margin: 0;
  
 
}
.addItem:hover {
  cursor: pointer;
  background-color: rgb(56, 243, 112);
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-cart{
  position:absolute; 
  top:0px;
  left: 0px;
  z-index: 2;
}

.slider {
  width: 100%;
}
.label {
  text-align: center;
}
/* .hide {
  display: none;
} */
.table {
  height: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
}
.table:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.clicked {
  background-color: rgba(0, 0, 0, 0.5);
}
.icon {
  top: 50%;
  left: 50%;
  z-index: 2;
}
.bill {
  overflow: none;
  overflow-y: scroll;
}
.note {
  position: relative;
  display: none;
  bottom: 10px;
}

.table:hover + .note {
  position: absolute;
  display: block;
  color: white;
  left: 25%;
}
.note1 {
  position: absolute;
  display: block;
  color: white;
  left: 25%;
}
.tab-table-orders {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: white;
  padding-bottom: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.checkout-button {
  cursor: pointer;
  width: 50%;
  margin: 0;
  padding: 0;
}

.checkout-button:hover {
  opacity: 0.8;
}
