.tab-content {
  height: 80vh;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  padding-bottom: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
