.CCardHeader-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  .CCardHeader-title-btn-createfood {
    font-size: 16px;
  }
}
.create-food {
  .create-food-content {
    font-size: 16px;
    margin-left: 2rem;
    .field {
      padding-bottom: 5px;

    }
  }
}
