// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "header";
@import "loaimonan";
@import "monan";
