// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #111;
}
p h1 h2 h3 h4 h5 h6 {
  color: black;
}

@import "header";
@import "loaimonan";
@import "monan";
